@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 48px;
}

p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  color: #333333;
}

.header {
  position: relative;
  text-align: center;
  background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
  color: white;
}

.logo {
  width: 50px;
  fill: white;
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
}

.inner-header {
  height: 65vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.wave-wrapper {
    position: relative; /* Establish a positioning context for child elements */
    overflow: hidden;    /* Clip any overflow from the blue container */
}

.waves {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin-bottom: 0;
  min-height: 100px;
  max-height: 150px;
  /* overflow: hidden; */
  z-index: 1;
  animation: container-move-down 2s linear forwards;
}

.waves-line {
  position: absolute;
  width: 140.5%;
  height: 5%;
  top: 200%;
  left: -24%;
  margin-bottom: 0;
  /* min-height: 100px; */
  /* max-height: 150px; */
  z-index: 1;
  transform: rotate(270deg);
} 

.waves-line-op {
  position: absolute;
  object-fit: contain;
  width: 140.5%;
  height: 5%;
  top: 200%;
  left: -21%;
  /* min-height: 100px; */
  /* max-height: 150px; */
  z-index: 1;
  transform: rotate(90deg);
} 

.blue-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: blue;
    z-index: 0; 
    clip-path: url(#wave-clip); 
    animation: container-move-down-fill 2.3s linear forwards; /* Apply the same animation */
  }

/* Animation for the container */
@keyframes container-move-down {
  0% {
    transform: translateY(0); /* Start above the viewport */
  }
  100% {
    transform: translateY(90vh);
  }
}

/* Animation for the container mobile */
@keyframes container-move-down-mobile {
  0% {
    transform: translateY(5vh); /* Start above the viewport */
  }
  100% {
    transform: translateY(90vh);
  }
}

/* Animation for the background fill */
@keyframes container-move-down-fill {
    0% {
      transform: translateY(5vh); /* Start above the viewport */
    }
    100% {
      transform: translateY(120vh);
    }
}

/* Animation for the background fill mobile */
@keyframes container-move-down-fill-mobile {
  0% {
    transform: translateY(17vh); /* Start above the viewport */
  }
  100% {
    transform: translateY(105vh);
  }
}

/* Animation for the inner waves */
.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

/* Shrinking for mobile */
/* @media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
} */

/* Media query for mobile devices */
@media (max-width: 768px) { 
  .waves {
      animation: container-move-down-mobile 2.2s linear forwards; /* Apply the mobile animation */
  }

  .blue-container {
      animation: container-move-down-fill-mobile 2.4s linear forwards; 
  }
}